# Conhecendo o DataSet

In [90]:
# instalando o pandas
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [91]:
# importar o pandas
import pandas as pd

In [92]:
# criar url
url = "datasets/anacondabank_credit_scoring.csv"

In [93]:
# carregando dataset
df = pd.read_csv(url)

In [94]:
# mostrar o cabeçalho
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [95]:
df.tail()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
995,0,no checking account,12,existing credits paid back duly till now,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,< 0 DM,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,no checking account,12,existing credits paid back duly till now,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,< 0 DM,45,existing credits paid back duly till now,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

In [96]:
# visualizar variáveis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               1000 non-null   object
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   object
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   object
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [97]:
# definir quantidade de linhas
linhas = df.shape[0]
print(f"quantidade de linhas {linhas}")

quantidade de linhas 1000

In [98]:
# definir quantidade de colunas
colunas = df.shape[1]
print(f"quantidade de colunas {colunas}")

quantidade de colunas 21

In [99]:
# verificar quantos dados duplicados:
duplicados = df.duplicated()
duplicados = duplicados.sum()
print(f"a base de dados tem {duplicados} dados duplicados")

a base de dados tem 0 dados duplicados

In [100]:
# verificar nulos
nulos = df.isnull()
nulos.sum()

default                        0
conta_corrente                 0
prazo_emprestimo_meses         0
historico_credito              0
proposito_emprestimo           0
valor_emprestimo               0
reserva_cc                     0
tempo_emprego_atual            0
taxa_comp_salario              0
sexo_est_civil                 0
outros_fiadores                0
anos_residencia_atual          0
propriedade                    0
idade                          0
outros_planos_financiamento    0
tipo_residencia                0
n_creditos_banco               0
status_emprego                 0
n_dependentes                  0
telefone                       0
trabalhador_estrangeiro        0
dtype: int64

# Criando o modelo preditivo

In [101]:
# Identificar valores da variável alvo (target) - varíavel dependente
y = df['default']
y.head()

0    0
1    1
2    0
3    0
4    1
Name: default, dtype: int64

In [102]:
# Identificar valores das variáveis independentes

X = df.drop(columns='default')
X.head()

,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,outros_fiadores,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,none,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,none,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,guarantor,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,none,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

# Instalando a biblioteca de Machine Learning

In [103]:
# vamos instalar
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from scikit-learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\ead\desktop\creditscoring_tarde\venv\lib\site-packages (from scikit-learn) (3.5.0)

# Separe dados de treino e teste

In [104]:

# separando 70/30 
from sklearn.model_selection import train_test_split
SEED = 77
X_train, X_test,y_train,y_test = train_test_split(X,
                                                  y,
                                                  test_size=0.30,
                                                  random_state=SEED)

###### parei aqui a tarde

In [105]:
# importando
from sklearn.linear_model import LogisticRegression

In [106]:
#crie um objeto modelo da classe LogisticRegression
modelo = LogisticRegression()

In [107]:
# treinamento
# Valores de Treino: X_train e y_train
modelo.fit(X_train,y_train)

ValueError: could not convert string to float: '0 <= ... < 200 DM'

- Erro: não consegue transformar texto em número

# Lembra do conceito de String x Float?

- O que é string? é um tipo de dados que aceita alfa númericos
em sintese podemos chamar string de "texto"
- O que é float? 
Números decimais, números flutuates, números reais

# Vamos transformar Texto em Número?

In [108]:
# visualizar o dataframe original
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [109]:
df_transformado = df.copy()

In [110]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

# Verificando a primeira coluna (String)

In [111]:
# mostrar valores NÃO duplicados
df_transformado['conta_corrente'].unique()

array(['< 0 DM', '0 <= ... < 200 DM', 'no checking account',
       '>= 200 DM / salary assignments for at least 1 year'], dtype=object)

# Mapeando

In [112]:
# ETAPA 1 - UNIQUE
df_transformado['conta_corrente'].unique()
print(df_transformado)

# ETAPA 2 - DICIONÁRIO
# par:chave  (chave:valor)
dict_cc ={
    '< 0 DM':1,
    '0 <= ... < 200 DM':2,
    'no checking account':3,
    '>= 200 DM / salary assignments for at least 1 year':4
}
# mapear (map)
# dataset['coluna'] = dataset['coluna'].map(dicionario)
df_transformado['conta_corrente'] = df_transformado['conta_corrente'].map(dict_cc)

     default       conta_corrente  prazo_emprestimo_meses  \
0          0               < 0 DM                       6
1          1    0 <= ... < 200 DM                      48
2          0  no checking account                      12
3          0               < 0 DM                      42
4          1               < 0 DM                      24
..       ...                  ...                     ...
995        0  no checking account                      12
996        0               < 0 DM                      30
997        0  no checking account                      12
998        1               < 0 DM                      45
999        0    0 <= ... < 200 DM                      45

                                     historico_credito  \
0    critical account/ other credits existing (not ...
1             existing credits paid back duly till now
2    critical account/ other credits existing (not ...
3             existing credits paid back duly till now
4                      delay in paying off in the past
..                                                 ...
995           existing credits paid back duly till now
996           existing credits paid back duly till now
997           existing credits paid back duly till now
998           existing credits paid back duly till now
999  critical account/ other credits existing (not ...

             proposito_emprestimo  valor_emprestimo  \
0             domestic appliances              1169
1             domestic appliances              5951
2    (vacation - does not exist?)              2096
3                radio/television              7882
4                       car (new)              4870
..                            ...               ...
995              radio/television              1736
996                    car (used)              3857
997           domestic appliances               804
998           domestic appliances              1845
999                    car (used)              4576

                      reserva_cc tempo_emprego_atual  taxa_comp_salario  \
0    unknown/ no savings account       .. >= 7 years                  4
1                   ... < 100 DM  1 <= ... < 4 years                  2
2                   ... < 100 DM  4 <= ... < 7 years                  2
3                   ... < 100 DM  4 <= ... < 7 years                  2
4                   ... < 100 DM  1 <= ... < 4 years                  3
..                           ...                 ...                ...
995                 ... < 100 DM  4 <= ... < 7 years                  3
996                 ... < 100 DM  1 <= ... < 4 years                  4
997                 ... < 100 DM       .. >= 7 years                  4
998                 ... < 100 DM  1 <= ... < 4 years                  4
999          100 <= ... < 500 DM          unemployed                  3

                          sexo_est_civil  ... anos_residencia_atual  \
0                          male : single  ...                     4
1    female : divorced/separated/married  ...                     2
2                          male : single  ...                     3
3                          male : single  ...                     4
4                          male : single  ...                     4
..                                   ...  ...                   ...
995  female : divorced/separated/married  ...                     4
996            male : divorced/separated  ...                     4
997                        male : single  ...                     4
998                        male : single  ...                     4
999                        male : single  ...                     4

                                           propriedade idade  \
0                                          real estate    67
1                                          real estate    22
2                                          real estate    49
3    if not A121 : building society savings agreeme...    45
4                                unknown / no property    53
..                                                 ...   ...
995                                        real estate    31
996  if not A121 : building society savings agreeme...    40
997  if not A121/A122 : car or other, not in attrib...    38
998                              unknown / no property    23
999  if not A121/A122 : car or other, not in attrib...    27

     outros_planos_financiamento tipo_residencia n_creditos_banco  \
0                           none             own                2
1                           none             own                1
2                           none             own                1
3                           none        for free                1
4                           none        for free                2
..                           ...             ...              ...
995                         none             own                1
996                         none             own                1
997                         none             own                1
998                         none        for free                1
999                         none             own                1

                                        status_emprego n_dependentes  \
0                          skilled employee / official             1
1                          skilled employee / official             1
2                                 unskilled - resident             2
3                          skilled employee / official             2
4                          skilled employee / official             2
..                                                 ...           ...
995                               unskilled - resident             1
996  management/ self-employed/ highly qualified em...             1
997                        skilled employee / official             1
998                        skilled employee / official             1
999                        skilled employee / official             1

                                      telefone trabalhador_estrangeiro
0    yes, registered under the customers name                      yes
1                                         none                     yes
2                                         none                     yes
3                                         none                     yes
4                                         none                     yes
..                                         ...                     ...
995                                       none                     yes
996  yes, registered under the customers name                      yes
997                                       none                     yes
998  yes, registered under the customers name                      yes
999                                       none                     yes

[1000 rows x 21 columns]

In [120]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,NaN,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,NaN,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,NaN,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,NaN,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,NaN,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [119]:
dict_cc = {
    '< 0 DM':1,
    '0 <= ... < 200 DM':2,
    'no checking account':3,
    '>= 200 DM / salary assignments for at least 1 year':4
}

In [114]:
# mapear (map)
# dataset['coluna'] = dataset['coluna'].map(dicionario)
df_transformado['conta_corrente'] = df_transformado['conta_corrente'].map(dict_cc)

In [116]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,NaN,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,NaN,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,NaN,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,NaN,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,NaN,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [121]:
df_transformado=df.copy()

df_transformado['conta_corrente'].unique()
print(df_transformado)

#etapa 2 - Dicionario
dict_cc={
    '< 0 DM':1,
    '0 <= ... < 200 DM':2,
    'no checking account':3,
    '>= 200 DM / salary assignments for at least 1 year':4
}
# etapa - Mapear
# dataset['coluna'] = dataset['coluna'].map(dicionario)
df_transformado['conta_corrente'] = df_transformado['conta_corrente'].map(dict_cc)

     default       conta_corrente  prazo_emprestimo_meses  \
0          0               < 0 DM                       6
1          1    0 <= ... < 200 DM                      48
2          0  no checking account                      12
3          0               < 0 DM                      42
4          1               < 0 DM                      24
..       ...                  ...                     ...
995        0  no checking account                      12
996        0               < 0 DM                      30
997        0  no checking account                      12
998        1               < 0 DM                      45
999        0    0 <= ... < 200 DM                      45

                                     historico_credito  \
0    critical account/ other credits existing (not ...
1             existing credits paid back duly till now
2    critical account/ other credits existing (not ...
3             existing credits paid back duly till now
4                      delay in paying off in the past
..                                                 ...
995           existing credits paid back duly till now
996           existing credits paid back duly till now
997           existing credits paid back duly till now
998           existing credits paid back duly till now
999  critical account/ other credits existing (not ...

             proposito_emprestimo  valor_emprestimo  \
0             domestic appliances              1169
1             domestic appliances              5951
2    (vacation - does not exist?)              2096
3                radio/television              7882
4                       car (new)              4870
..                            ...               ...
995              radio/television              1736
996                    car (used)              3857
997           domestic appliances               804
998           domestic appliances              1845
999                    car (used)              4576

                      reserva_cc tempo_emprego_atual  taxa_comp_salario  \
0    unknown/ no savings account       .. >= 7 years                  4
1                   ... < 100 DM  1 <= ... < 4 years                  2
2                   ... < 100 DM  4 <= ... < 7 years                  2
3                   ... < 100 DM  4 <= ... < 7 years                  2
4                   ... < 100 DM  1 <= ... < 4 years                  3
..                           ...                 ...                ...
995                 ... < 100 DM  4 <= ... < 7 years                  3
996                 ... < 100 DM  1 <= ... < 4 years                  4
997                 ... < 100 DM       .. >= 7 years                  4
998                 ... < 100 DM  1 <= ... < 4 years                  4
999          100 <= ... < 500 DM          unemployed                  3

                          sexo_est_civil  ... anos_residencia_atual  \
0                          male : single  ...                     4
1    female : divorced/separated/married  ...                     2
2                          male : single  ...                     3
3                          male : single  ...                     4
4                          male : single  ...                     4
..                                   ...  ...                   ...
995  female : divorced/separated/married  ...                     4
996            male : divorced/separated  ...                     4
997                        male : single  ...                     4
998                        male : single  ...                     4
999                        male : single  ...                     4

                                           propriedade idade  \
0                                          real estate    67
1                                          real estate    22
2                                          real estate    49
3    if not A121 : building society savings agreeme...    45
4                                unknown / no property    53
..                                                 ...   ...
995                                        real estate    31
996  if not A121 : building society savings agreeme...    40
997  if not A121/A122 : car or other, not in attrib...    38
998                              unknown / no property    23
999  if not A121/A122 : car or other, not in attrib...    27

     outros_planos_financiamento tipo_residencia n_creditos_banco  \
0                           none             own                2
1                           none             own                1
2                           none             own                1
3                           none        for free                1
4                           none        for free                2
..                           ...             ...              ...
995                         none             own                1
996                         none             own                1
997                         none             own                1
998                         none        for free                1
999                         none             own                1

                                        status_emprego n_dependentes  \
0                          skilled employee / official             1
1                          skilled employee / official             1
2                                 unskilled - resident             2
3                          skilled employee / official             2
4                          skilled employee / official             2
..                                                 ...           ...
995                               unskilled - resident             1
996  management/ self-employed/ highly qualified em...             1
997                        skilled employee / official             1
998                        skilled employee / official             1
999                        skilled employee / official             1

                                      telefone trabalhador_estrangeiro
0    yes, registered under the customers name                      yes
1                                         none                     yes
2                                         none                     yes
3                                         none                     yes
4                                         none                     yes
..                                         ...                     ...
995                                       none                     yes
996  yes, registered under the customers name                      yes
997                                       none                     yes
998  yes, registered under the customers name                      yes
999                                       none                     yes

[1000 rows x 21 columns]

In [122]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [123]:
df_transformado['telefone'].unique()

dict_telefone = {
    'yes, registered under the customers name ':1,
    'none':0,
}

df_transformado['telefone'] = df_transformado['telefone'].map(dict_telefone)

In [124]:
df_transformado['trabalhador_estrangeiro'].unique()

dict_trabalhador_estrangeiro = {
    'yes':1,
    'no':0,
}
df_transformado['trabalhador_estrangeiro'] = df_transformado['trabalhador_estrangeiro'].map(dict_trabalhador_estrangeiro)

In [125]:
df_transformado['propriedade'].unique()
dict_cc_prop = {
    'real estate': 1,
    'if not A121 : building society savings agreement/ life insurance': 2,
    'unknown / no property': 3,
    'if not A121/A122 : car or other, not in attribute 6': 4
}


df_transformado['propriedade'] = df_transformado['propriedade'].map(dict_cc_prop)
print(df_transformado)

     default  conta_corrente  prazo_emprestimo_meses  \
0          0               1                       6
1          1               2                      48
2          0               3                      12
3          0               1                      42
4          1               1                      24
..       ...             ...                     ...
995        0               3                      12
996        0               1                      30
997        0               3                      12
998        1               1                      45
999        0               2                      45

                                     historico_credito  \
0    critical account/ other credits existing (not ...
1             existing credits paid back duly till now
2    critical account/ other credits existing (not ...
3             existing credits paid back duly till now
4                      delay in paying off in the past
..                                                 ...
995           existing credits paid back duly till now
996           existing credits paid back duly till now
997           existing credits paid back duly till now
998           existing credits paid back duly till now
999  critical account/ other credits existing (not ...

             proposito_emprestimo  valor_emprestimo  \
0             domestic appliances              1169
1             domestic appliances              5951
2    (vacation - does not exist?)              2096
3                radio/television              7882
4                       car (new)              4870
..                            ...               ...
995              radio/television              1736
996                    car (used)              3857
997           domestic appliances               804
998           domestic appliances              1845
999                    car (used)              4576

                      reserva_cc tempo_emprego_atual  taxa_comp_salario  \
0    unknown/ no savings account       .. >= 7 years                  4
1                   ... < 100 DM  1 <= ... < 4 years                  2
2                   ... < 100 DM  4 <= ... < 7 years                  2
3                   ... < 100 DM  4 <= ... < 7 years                  2
4                   ... < 100 DM  1 <= ... < 4 years                  3
..                           ...                 ...                ...
995                 ... < 100 DM  4 <= ... < 7 years                  3
996                 ... < 100 DM  1 <= ... < 4 years                  4
997                 ... < 100 DM       .. >= 7 years                  4
998                 ... < 100 DM  1 <= ... < 4 years                  4
999          100 <= ... < 500 DM          unemployed                  3

                          sexo_est_civil  ... anos_residencia_atual  \
0                          male : single  ...                     4
1    female : divorced/separated/married  ...                     2
2                          male : single  ...                     3
3                          male : single  ...                     4
4                          male : single  ...                     4
..                                   ...  ...                   ...
995  female : divorced/separated/married  ...                     4
996            male : divorced/separated  ...                     4
997                        male : single  ...                     4
998                        male : single  ...                     4
999                        male : single  ...                     4

     propriedade  idade  outros_planos_financiamento tipo_residencia  \
0              1     67                         none             own
1              1     22                         none             own
2              1     49                         none             own
3              2     45                         none        for free
4              3     53                         none        for free
..           ...    ...                          ...             ...
995            1     31                         none             own
996            2     40                         none             own
997            4     38                         none             own
998            3     23                         none        for free
999            4     27                         none             own

    n_creditos_banco                                     status_emprego  \
0                  2                        skilled employee / official
1                  1                        skilled employee / official
2                  1                               unskilled - resident
3                  1                        skilled employee / official
4                  2                        skilled employee / official
..               ...                                                ...
995                1                               unskilled - resident
996                1  management/ self-employed/ highly qualified em...
997                1                        skilled employee / official
998                1                        skilled employee / official
999                1                        skilled employee / official

    n_dependentes  telefone  trabalhador_estrangeiro
0               1         1                        1
1               1         0                        1
2               2         0                        1
3               2         0                        1
4               2         0                        1
..            ...       ...                      ...
995             1         0                        1
996             1         1                        1
997             1         0                        1
998             1         1                        1
999             1         0                        1

[1000 rows x 21 columns]

In [126]:

df_transformado['outros_planos_financiamento'].unique()

dict_opf = {
    'none': 1,
    'bank': 2,
    'stores': 3,
    
}
df_transformado['outros_planos_financiamento'] = df_transformado['outros_planos_financiamento'].map(dict_opf)
print(df_transformado)

     default  conta_corrente  prazo_emprestimo_meses  \
0          0               1                       6
1          1               2                      48
2          0               3                      12
3          0               1                      42
4          1               1                      24
..       ...             ...                     ...
995        0               3                      12
996        0               1                      30
997        0               3                      12
998        1               1                      45
999        0               2                      45

                                     historico_credito  \
0    critical account/ other credits existing (not ...
1             existing credits paid back duly till now
2    critical account/ other credits existing (not ...
3             existing credits paid back duly till now
4                      delay in paying off in the past
..                                                 ...
995           existing credits paid back duly till now
996           existing credits paid back duly till now
997           existing credits paid back duly till now
998           existing credits paid back duly till now
999  critical account/ other credits existing (not ...

             proposito_emprestimo  valor_emprestimo  \
0             domestic appliances              1169
1             domestic appliances              5951
2    (vacation - does not exist?)              2096
3                radio/television              7882
4                       car (new)              4870
..                            ...               ...
995              radio/television              1736
996                    car (used)              3857
997           domestic appliances               804
998           domestic appliances              1845
999                    car (used)              4576

                      reserva_cc tempo_emprego_atual  taxa_comp_salario  \
0    unknown/ no savings account       .. >= 7 years                  4
1                   ... < 100 DM  1 <= ... < 4 years                  2
2                   ... < 100 DM  4 <= ... < 7 years                  2
3                   ... < 100 DM  4 <= ... < 7 years                  2
4                   ... < 100 DM  1 <= ... < 4 years                  3
..                           ...                 ...                ...
995                 ... < 100 DM  4 <= ... < 7 years                  3
996                 ... < 100 DM  1 <= ... < 4 years                  4
997                 ... < 100 DM       .. >= 7 years                  4
998                 ... < 100 DM  1 <= ... < 4 years                  4
999          100 <= ... < 500 DM          unemployed                  3

                          sexo_est_civil  ... anos_residencia_atual  \
0                          male : single  ...                     4
1    female : divorced/separated/married  ...                     2
2                          male : single  ...                     3
3                          male : single  ...                     4
4                          male : single  ...                     4
..                                   ...  ...                   ...
995  female : divorced/separated/married  ...                     4
996            male : divorced/separated  ...                     4
997                        male : single  ...                     4
998                        male : single  ...                     4
999                        male : single  ...                     4

     propriedade  idade  outros_planos_financiamento  tipo_residencia  \
0              1     67                            1              own
1              1     22                            1              own
2              1     49                            1              own
3              2     45                            1         for free
4              3     53                            1         for free
..           ...    ...                          ...              ...
995            1     31                            1              own
996            2     40                            1              own
997            4     38                            1              own
998            3     23                            1         for free
999            4     27                            1              own

    n_creditos_banco                                     status_emprego  \
0                  2                        skilled employee / official
1                  1                        skilled employee / official
2                  1                               unskilled - resident
3                  1                        skilled employee / official
4                  2                        skilled employee / official
..               ...                                                ...
995                1                               unskilled - resident
996                1  management/ self-employed/ highly qualified em...
997                1                        skilled employee / official
998                1                        skilled employee / official
999                1                        skilled employee / official

    n_dependentes  telefone  trabalhador_estrangeiro
0               1         1                        1
1               1         0                        1
2               2         0                        1
3               2         0                        1
4               2         0                        1
..            ...       ...                      ...
995             1         0                        1
996             1         1                        1
997             1         0                        1
998             1         1                        1
999             1         0                        1

[1000 rows x 21 columns]

In [127]:
df_transformado['outros_fiadores'].unique()


# Dictionary
dict_ofiador_cc = {
    'none': 0,
    'guarantor': 1,
    'co-applicant': 2

}

df_transformado['outros_fiadores'] = df_transformado['outros_fiadores'].map(dict_ofiador_cc)

In [129]:
dict_rc={
    'unknown/ no savings account':1,
    '... < 100 DM':2,
    '500 <= ... < 1000 DM ':3,
    '.. >= 1000 DM ':4,
    '100 <= ... < 500 DM':5
}
df_transformado['reserva_cc'] = df_transformado['reserva_cc'].map(dict_rc)

In [131]:
dict_pe={
    'domestic appliances':1,
    '(vacation - does not exist?)':2,
    'radio/television':3,
    'car (new)':4,
    'car (used)':5,
    'business':6,
    'repairs':7,
    'education':8,
    'furniture/equipment':9,
    'retraining':10


}
df_transformado['proposito_emprestimo'] = df_transformado['proposito_emprestimo'].map(dict_pe)

In [132]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,critical account/ other credits existing (not ...,1,1169,1,.. >= 7 years,4,male : single,...,4,1,67,1,own,2,skilled employee / official,1,1,1
1,1,2,48,existing credits paid back duly till now,1,5951,2,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,1,22,1,own,1,skilled employee / official,1,0,1
2,0,3,12,critical account/ other credits existing (not ...,2,2096,2,4 <= ... < 7 years,2,male : single,...,3,1,49,1,own,1,unskilled - resident,2,0,1
3,0,1,42,existing credits paid back duly till now,3,7882,2,4 <= ... < 7 years,2,male : single,...,4,2,45,1,for free,1,skilled employee / official,2,0,1
4,1,1,24,delay in paying off in the past,4,4870,2,1 <= ... < 4 years,3,male : single,...,4,3,53,1,for free,2,skilled employee / official,2,0,1

In [133]:

dict_hc={
    'critical account/ other credits existing (not at this bank)':1,
    'existing credits paid back duly till now':2,
    'delay in paying off in the past':3,
    'no credits taken/ all credits paid back duly':4,
    'all credits at this bank paid back duly':5
}
df_transformado['historico_credito'] = df_transformado['historico_credito'].map(dict_hc)

In [135]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,1,1169,1,.. >= 7 years,4,male : single,...,4,1,67,1,own,2,skilled employee / official,1,1,1
1,1,2,48,2,1,5951,2,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,1,22,1,own,1,skilled employee / official,1,0,1
2,0,3,12,1,2,2096,2,4 <= ... < 7 years,2,male : single,...,3,1,49,1,own,1,unskilled - resident,2,0,1
3,0,1,42,2,3,7882,2,4 <= ... < 7 years,2,male : single,...,4,2,45,1,for free,1,skilled employee / official,2,0,1
4,1,1,24,3,4,4870,2,1 <= ... < 4 years,3,male : single,...,4,3,53,1,for free,2,skilled employee / official,2,0,1

# Crie um dicionários para mapear as strings em valores

In [117]:
a = {'< 0 DM':1,
     '0 <= ... < 200 DM':2,
     'no checking account':3,
     '>= 200 DM / salary assignments for at least 1 year':4
     }

# Mapeie

In [28]:
df['conta_corrente'] = df['conta_corrente'].map(a)

In [29]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [30]:
df['historico_credito'].unique()

array(['critical account/ other credits existing (not at this bank)',
       'existing credits paid back duly till now',
       'delay in paying off in the past',
       'no credits taken/ all credits paid back duly',
       'all credits at this bank paid back duly'], dtype=object)

In [32]:
a_hist_cred = {
    'critical account/ other credits existing (not at this bank)': 1,
    'existing credits paid back duly till now': 2,
    'delay in paying off in the past': 3,
    'no credits taken/ all credits paid back duly': 4,
    'all credits at this bank paid back duly': 5
}

In [33]:
df['historico_credito'] = df['historico_credito'].map(a_hist_cred)

In [34]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,2,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,1,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,2,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,3,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [20]:
df['propriedade'].head()

0                                          real estate
1                                          real estate
2                                          real estate
3    if not A121 : building society savings agreeme...
4                                unknown / no property
Name: propriedade, dtype: object

In [21]:
df['propriedade'].unique()

array(['real estate',
       'if not A121 : building society savings agreement/ life insurance',
       'unknown / no property',
       'if not A121/A122 : car or other, not in attribute 6'],
      dtype=object)

In [136]:
df_mapeado.head()

NameError: name 'df_mapeado' is not defined

In [118]:
df_transformado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               0 non-null      float64
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   object
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   object
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: float64(1), int64(8), object(12)
memory usage: 164.2+ KB

In [ ]:
"""

df['propriedade'] = df['propriedade'].map(dict_propriedade).fillna(df['propriedade'])


"""